# temp folder
tmp

# Frontend asset
web/dist

# Build artifacts
build/
bin/

.DS_Store

# Jetbrains
.idea

# Docker Compose Environment File
.env

dist

# VSCode settings
.vscode

# iOS
ios/Frameworks/
ios/xcuserdata/
ios/DerivedData/
*.xcframework
