@import "./mixin.less";

* {
  @apply m-0 p-0 box-border;
  color: @text-black;
  -webkit-tap-highlight-color: transparent;
}

body,
html {
  @apply w-screen h-screen overflow-hidden text-base;
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Noto Sans", "Noto Sans CJK SC", "Microsoft YaHei UI", "Microsoft YaHei",
    "WenQuanYi Micro Hei", sans-serif, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

code {
  @apply bg-pink-600 p-1 rounded font-mono;
}

pre {
  @apply font-mono;

  * {
    @apply font-mono;
  }
}

label,
button,
img {
  @apply bg-transparent select-none outline-none;
  -webkit-tap-highlight-color: transparent;
}

input,
textarea {
  @apply appearance-none outline-none !important;
  @apply bg-transparent;
  -webkit-tap-highlight-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  @apply shadow-inner;
}

li {
  list-style-type: none;

  &::before {
    @apply font-bold mr-1;
    content: "•";
  }
}

a {
  @apply cursor-pointer text-blue-600 underline underline-offset-2;

  &:hover {
    @apply opacity-80;
  }
}

.btn {
  @apply select-none cursor-pointer text-center;
  border: unset;
  background-color: unset;
  text-align: unset;
  font-size: unset;
}

.hidden {
  display: none !important;
}
