.usage-heat-map-wrapper {
  @apply flex flex-row justify-start items-center w-full h-32 flex-wrap pr-6 pb-3 shrink-0;

  > .day-tip-text-container {
    @apply w-6 h-full grid grid-rows-7;

    > .tip-text {
      @apply pr-1 w-full h-full text-right font-mono text-gray-400;
      font-size: 10px;
    }
  }

  > .usage-heat-map {
    @apply h-full grid grid-rows-7;
    width: 200px;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: column;

    > .stat-wrapper {
      > .stat-container {
        @apply block rounded-sm bg-gray-200;
        width: 14px;
        height: 14px;

        &.stat-day-l1-bg {
          @apply bg-green-400;
        }

        &.stat-day-l2-bg {
          @apply bg-green-500;
        }

        &.stat-day-l3-bg {
          @apply bg-green-600;
        }

        &.stat-day-l4-bg {
          @apply bg-green-700;
        }

        &.today {
          @apply border border-black;
        }
      }
    }
  }
}

.usage-detail-container {
  @apply fixed left-0 top-0 ml-2 -mt-9 p-2 z-100 -translate-x-1/2 select-none text-white text-xs rounded whitespace-nowrap;
  background-color: rgba(0, 0, 0, 0.8);

  > .date-text {
    @apply text-gray-300;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: calc(50% - 5px);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid rgba(0, 0, 0, 0.8);
  }
}
