@import "tailwindcss";
@import "tw-animate-css";
@import "./style.css";

@custom-variant dark (&: is(.dark *));

@theme {
  --default-transition-duration: 150ms;
}

@variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
